@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*
font-family: 'Flow Circular', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/

.monospaced {
    font-family: 'JetBrains Mono', monospace;
}

.mainContainer {
    width: 100%;
}

div {
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h4 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h5 {
    font-family: 'Merriweather', serif;
    text-align: center;
}
h6 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    word-wrap: normal;
    text-align: justify;
}