@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=JetBrains+Mono&family=Lato&family=Merriweather&family=Montserrat&display=swap');
/*
 font-family: 'Flow Circular', cursive;
 font-family: 'JetBrains Mono', monospace;
 font-family: 'Lato', sans-serif;
 font-family: 'Merriweather', serif;
 */

body {
    font-family: 'Lato', sans-serif;
    color:white;
}
div {
     overflow: hidden;
}
h1 {
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: x-large;
    word-wrap: normal;
    text-align: justify;
}

.s1 {
    background: url("https://www.simonbusch.info/img/img1.jpg");
    background-size: cover;
}
.s2 {
    background: url("https://www.simonbusch.info/img/img2.jpg");
    background-size: cover;
}
.s3 {
    background: url("https://www.simonbusch.info/img/img3.jpg");
    background-size: cover;
}

.monospaced {
    font-family: 'JetBrains Mono', monospace;
}
.centered {
    text-align: center;
}

.sectionTextContainer1 {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    background-color: black;
}

.sectionTextContainer1 p {
    text-align: center;
}

.sectionTextContainer2 {
    margin-left: 5em;
    padding-left: 2em;
    padding-right: 2em;

    width: 33%;
    background-color: black;
}

a {
    color: hotpink;
}

.sectionTextContainer3 {
    padding-left: 5em;
}